In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data = {
    'income': [14,15,17,18,6,5,3],
    'credit_score': [600,650,700,710,380,410,100],
    'payment_status': [1,1,1,1,0,0,0]   
}
df = pd.DataFrame(data)
df.head(2)
# here 1 indicates paid on time and 0 indicates defaulted payment

ModuleNotFoundError: No module named 'matplotlib'

In [2]:
df.head(5)

   income  credit_score  payment_status
0      14           600               1
1      15           650               1
2      17           700               1
3      18           710               1
4       6           380               0